* {
    font-family: "JetBrains Mono Nerd Font";
    color: #ffffff;
    font-size: 13px;
}

window#waybar {
    /*background: #0F0F17; */
    background: rgba(15, 15, 25, 0.9);
    border: 3px solid rgba(255, 255, 255, 0.1);
}

tooltip {
    background: #171717;
    color: #A1BDCE;
    font-size: 13px;
    border: 2px solid #101a24;
}

#workspaces {
    background: rgba(23, 23, 23, 0.0);
    color: #808080;
    box-shadow: none;
    text-shadow: none;
    transition: 0.2s ease;
    padding-left: 4px;
    padding-right: 4px;
}

#audio {
  padding: 0;
  margin: 0;
}

#light {
  padding: 0;
  margin: 0;
}

#backlight-slider, #pulseaudio-slider {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

#backlight-slider slider,
#pulseaudio-slider slider {
    background: #A1BDCE;
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 0;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    margin-top: -4px;
    min-width: 90px;
    min-height: 10px;
    margin-bottom: -4px;
    background: #343434;
    padding: 0;
    border: none;
    border-radius: 10px;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    background-color: #2096C0;
    padding: 0;
    border: none;
    border-radius: 10px;
}

#custom-spacer {
    opacity: 0.0;
}

#custom-smallspacer {
    opacity: 0.0;
}

#workspaces button {
    /* background: rgba(23, 23, 23, 0.0); */
    color: #808080;
    box-shadow: none;
    text-shadow: none;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
}

#workspaces button.visible {
    /* background: rgba(23, 23, 23, 0.0); */
    color: #808080;
}

#workspaces button.active {
    color: #A1BDCE;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
}

#workspaces button:hover {
    background: none;
    border: none;
    transition: none;
}

.modules-right {
    margin-right: 20px;
}

.modules-right * {
    margin: 0;
    padding-left: 7px;
    padding-right: 7px;
}

#clock {
    padding-right: 0px;
    margin-right: 0px;
}

#tray menu * {
  border-radius: 0;
    min-height: 5px;
    font-size: 13px;
    color: #000000;
}

#tray menu separator {
    border-radius: 0;
    min-height: 5px
}

#tray {
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
    border-radius: 20px;
    background-color: #49668C;
    margin-top: 7px;
    margin-bottom: 4px;
}

#expand {
    padding-right: 0px;
    margin-right: 0px;
}

#battery.warning {
  color: green;
}

#battery.charging {
    color: #29CF13;
}

#battery.critical {
  color: red;
}

#network {
    color: #CCE2FF;
}

#pulseaudio {
    color: #DAE5F2;
}

#backlight {
    color: #FFF3CC;
}
